<div class="container">
  <div class="spanH1">
    <h1>Escala Inteligente</h1>
    <h4>Enfermagem</h4>
  </div>

  <section class="config">
    <h3>1. Técnicos</h3>
    <div class="form-container-stack">
      <div class="field">
        <label>Nomes (Separados por vírgula)</label>
        <input
          type="text"
          [(ngModel)]="tecnicosInput"
          placeholder="Ex: Maria, José, Joana"
          (input)="formatarTecnicos()"
        >
      </div>
    </div>
  </section>

  <section class="cadastro">
    <h3>2. Adicionar Paciente</h3>
    <div class="form-container-stack">

      <div class="row-dupla">
        <div class="field">
          <label>Quarto</label>
          <select [(ngModel)]="novoQuarto">
            <option *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12]" [ngValue]="n">Q{{ n }}</option>
          </select>
        </div>
        <div class="field">
          <label>Criticidade</label>
          <select [(ngModel)]="novaCriticidade">
            <option [ngValue]="1">Leve (1)</option>
            <option [ngValue]="3">Médio (3)</option>
            <option [ngValue]="5">Crítico (5)</option>
          </select>
        </div>
      </div>

      <div class="row-unica">
        <div class="field">
          <label>Nome do Paciente</label>
          <input type="text"
                 class="nomePaciente"
                 [(ngModel)]="novoNome"
                 (input)="formatarNome()"
                 placeholder="Nome Completo">
        </div>
      </div>

      <div class="row-botao">
        <button (click)="adicionarPaciente()" class="btn-addPaciente">
          Adicionar à Lista
        </button>
      </div>

    </div>
  </section>

  <section class="lista-pacientes">
    @for (p of pacientes(); track p.quarto; let i = $index) {
      <div class="paciente-card" [attr.data-crit]="p.criticidade">
        <span><b>Q{{ p.quarto }}</b> - {{ p.nome }}</span>

        <button (click)="removerPaciente(i)" class="btn-delete">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </div>
    } @empty {
      <div class="empty-state">
        <p>Nenhum paciente na lista.</p>
      </div>
    }
  </section>

  <!--  <button class="btn-gerar" (click)="gerarEscala()">Gerar Escala Inteligente</button>-->
  <div class="row-actions">
    <button class="btn-gerar"
            (click)="gerarEscala()"
            [disabled]="pacientes().length === 0">
      Gerar Escala
    </button>

    <button class="btn-limpar"
            (click)="limparEscala()"
            [disabled]="escalaGerada().length === 0">
      Limpar Escala
    </button>
  </div>

  <section class="resultado">
    @if (escalaGerada().length > 0) {
      @for (t of escalaGerada(); track t.nome) {
        <div class="tecnico-col">
          <h4>
            {{ t.nome }}
            <span class="badge">
            {{ t.totalPontos }} {{ t.totalPontos === 1 ? 'PT' : 'PTS' }}
          </span>
          </h4>

          <ul>
            @for (q of t.quartos; track q.quarto) {
              <li class="quarto-item">
                <div class="quarto-info">
                  <span class="quarto-numero">Q{{ q.quarto }}</span>
                  <span class="paciente-nome">{{ q.nome }}</span>
                </div>

                <span class="badge-crit" [attr.data-crit]="q.criticidade">
                {{ q.criticidade }} {{ q.criticidade === 1 ? 'pt' : 'pts' }}
              </span>
              </li>
            } @empty {
              <li class="quarto-item">Nenhum quarto atribuído</li>
            }
          </ul>
        </div>
      }
    }
  </section>

  <button class="btn-whatsapp" *ngIf="escalaGerada().length > 0" (click)="compartilharWhatsApp()">
    <img src="/escala-inteligente/public/wap.png" alt="Ícone WhatsApp" class="icon-wap">
    <span>Enviar Escala por WhatsApp</span>
  </button>

</div>
